.account-info {
  display: flex;
  /* align-items: center; */
  justify-content: start;
  margin: 0 1rem;
  width: 100%;
  color: var(--text-color);


  .personal-info-container{
    flex: 1;
    margin-left: 1rem;
    
    h2{
      font-size: 1.5rem;
    }
    
    h3{
      font-size: 1.25rem;
      margin-left: 1rem;
    }

    p{
      font-size: 1rem;
      padding-left: 2rem;
    }
    .username-container{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .username-input{
        margin-left: 2rem;
        background-color: var(--feature-window-color);
      }

      .username-button {
        margin-right: 5rem;
        padding: 0 1rem;
        font-size: 1rem;
        color: var(--button-text-color);
        transition: 0.3s ease;
        border-radius: 0.5rem;
        border-bottom: 2px solid #05378e;
        box-shadow: 10px 10px 5px rgba(10, 13, 169, 0.6); 
      }

      .username-button:hover{
        color: #fff;
        background-color: #05378e;
        box-shadow: none;
      }


    }
  }

  .profile-pic-container{
    flex:1;
    color: var(--text-color);

    h2{
      font-size: 1.5rem;
      
    }


    img{
      width: 150px;
      height: 200px;
      border-radius:10%;
      padding: 1rem 0;
      cursor: pointer;
    }

    .save-btn{
      font-size: 1.2rem;
      padding: 0 1rem;
      color: var(--button-text-color);
      transition: 0.3s ease;
      border-radius: 0.5rem;
      border-bottom: 2px solid #05378e;
      box-shadow: 10px 10px 5px rgba(10, 13, 169, 0.6); 
    }
    
    .save-btn:hover{
      color: #fff;
      background-color: #05378e;
      box-shadow: none;
    }

    
  }

  .upload-file-input{
    display: none;
  }
}

.appearance-container{
  margin-top: 2rem;
  color: var(--text-color);

  h2{
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  


  .appearance-modes{
    display: block;
    width: 20%;

    p{
      font-size: 1rem;
    }

    .light, .dark, .dawn{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 3rem;
      padding: 0.25rem 0;
      gap: 2rem;
    }
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eae7e7;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #05378e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}


@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait){




  .feature-window{
    background-color: var(--feature-window-color);
    height: 88%;

    .feature-header {
      padding: 0 1rem;
      
      h1 {
        font-size: 1.5rem;
      }
    }


    .personal-info-container {
      margin: 0;
      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1rem;
      }

      .username-container {
        gap:1rem;
        input {
          font-size: 0.75rem;
        }

        .username-button {
          font-size: 0.75rem;
        }
      }

    }
    
    .profile-pic-container {
      display: none;
    }

    .appearance-container {
      h2 {
        margin-left: 1rem;
      }

      .appearance-modes {
        div {
          margin-left: 2rem;
        }
      }

      }    
    
  }
}